---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Python from "./icons/Python.astro"
import MediaPipe from "./icons/Mediapipe.astro"

const TAGS = {
  DEEPLEARNING: {
    name: "Deep Learning",
    class: "bg-black text-white",
    icon: NextJS,
  },
  DATAWRANGLING: {
    name: "Data wrangling",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  PYTHON: {
    name: "Python",
    class: "bg-black text-white",
    icon: Python,
  },
  MEDIAPIPE: {
    name: "Mediapipe",
    class: "bg-[#003159] text-white",
    icon: MediaPipe,
  }
}
const PROJECTS = [
  {
    title: "Segmentación de imágenes de fauna salvaje con modelos de aprendizaje profundo",
    description:
      "",
    link: "https://slides.com/sergiopereadelacasa/deck-860e4a/fullscreen",
    github: "https://github.com/SergioPerea99/Image-Segmentation-Deep-Learning",
    image: "/projects/wwf_AI.png",
    tags: [TAGS.DEEPLEARNING, TAGS.DATAWRANGLING],
  },
  {
    title: "Sistema de aprendizaje de japonés con interacción multimodal",
    description:
      "Este proyecto es un sistema de aprendizaje de japonés que aprovecha la interacción multimodal, centrándose específicamente en la expresión oral y escrita. El sistema utiliza una pizarra virtual en la que los usuarios pueden escribir caracteres kanji, reforzando el aprendizaje mediante la práctica verbal y escrita. La aplicación se basa en MediaPipe para el seguimiento de la mano en tiempo real y el reconocimiento de gestos, proporcionando una experiencia de aprendizaje intuitiva e interactiva.",
    github: "https://github.com/SergioPerea99/KANJI-STUDY-MULTIMODAL-INTERFACES/tree/main",
    image: "/projects/kanji.png",
    tags: [TAGS.PYTHON, TAGS.MEDIAPIPE],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



